.logo {
    width: 120px;
    height: 31px;
    background: rgba(255,255,255,.2);
    margin: 16px 28px 16px 0;
    float: left;
}

.Plan {
    min-height: 97%;
    width: 100%;
    margin-top: 20px;
}

.ShowContent {
    min-height: 76vh;
}

.ShowFooter {
    min-height: 20px;
}

.FirstPlan {
    position: relative;
}

.Next-Btn-Box {
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.Next-Btn {
    width: 40%;
}